flows (1).json
[{"id":"9e030a28.1fad68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"27d2422e.dbbe3e","type":"ui_form","z":"9e030a28.1fad68","name":"","label":"","group":"a1f27f5d.e263b","order":0,"width":0,"height":0,"options":[{"label":"Adult Mortality","value":"d","type":"number","required":false,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":false,"rows":null},{"label":"Alchohol","value":"f","type":"number","required":false,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":false,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":false,"rows":null},{"label":"Measles","value":"i","type":"number","required":false,"rows":null},{"label":"BMI","value":"j","type":"number","required":false,"rows":null},{"label":"under 5 deaths","value":"k","type":"number","required":false,"rows":null},{"label":"Polio","value":"l","type":"number","required":false,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":false,"rows":null},{"label":"Diptheria","value":"n","type":"number","required":false,"rows":null},{"label":"HIV/AIDS","value":"o","type":"number","required":false,"rows":null},{"label":"GDP","value":"p","type":"number","required":false,"rows":null},{"label":"Population","value":"q","type":"number","required":false,"rows":null},{"label":"thinness 1-19 years","value":"r","type":"number","required":false,"rows":null},{"label":"thinness 5-9 years","value":"s","type":"number","required":false,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":false,"rows":null},{"label":"Schooling","value":"u","type":"number","required":false,"rows":null},{"label":"Developing Country","value":"c","type":"checkbox","required":false,"rows":null}],"formValue":{"d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":"","c":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":80,"wires":[["c94076e1.598398"]]},{"id":"c94076e1.598398","type":"function","z":"9e030a28.1fad68","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n\n\n//following are required to receive a token\nvar apikey=\"BKSVBOY2KvmYCanihOvgFiAt9dDR_drg9e0WVeivUhfM\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":80,"wires":[["6801e89b.8a42d8"]]},{"id":"f7be4a32.6054b8","type":"http request","z":"9e030a28.1fad68","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/2cabd667-cdba-4f90-a957-2f740b6d5492/deployments/aaf49989-8656-4573-8532-93b432a7a134/online","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":160,"wires":[["b7ea3653.d49b08","3c511ed3.e86502"]]},{"id":"a27d2539.639028","type":"debug","z":"9e030a28.1fad68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":280,"wires":[]},{"id":"3c511ed3.e86502","type":"function","z":"9e030a28.1fad68","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["a27d2539.639028","7d87190e.ab3ec8"]]},{"id":"b7ea3653.d49b08","type":"debug","z":"9e030a28.1fad68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":160,"wires":[]},{"id":"9292ee32.c0739","type":"function","z":"9e030a28.1fad68","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"2cabd667-cdba-4f90-a957-2f740b6d5492\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar c=global.get(\"c\",msg.payload.c);\nvar d=global.get(\"d\",msg.payload.d);\nvar e=global.get(\"e\",msg.payload.e);\nvar f=global.get(\"f\",msg.payload.f);\nvar g=global.get(\"g\",msg.payload.g);\nvar h=global.get(\"h\",msg.payload.h);\nvar i=global.get(\"i\",msg.payload.i);\nvar j=global.get(\"j\",msg.payload.j);\nvar k=global.get(\"k\",msg.payload.k);\nvar l=global.get(\"l\",msg.payload.l);\nvar m=global.get(\"m\",msg.payload.m);\nvar n=global.get(\"n\",msg.payload.n);\nvar o=global.get(\"o\",msg.payload.o);\nvar p=global.get(\"p\",msg.payload.p);\nvar q=global.get(\"q\",msg.payload.q);\nvar r=global.get(\"r\",msg.payload.r);\nvar s=global.get(\"s\",msg.payload.s);\nvar t=global.get(\"t\",msg.payload.t);\nvar u=global.get(\"u\",msg.payload.u);\n\n\n//send the user values to service endpoint\nmsg.payload = {\"fields\":['Status', 'Adult_Mortality',\n       'Infant_Deaths', 'Alcohol', 'Percentage_Exp', 'HepatitisB', 'Measles',\n       'BMI', 'Under_Five_Deaths', 'Polio', 'Tot_Exp', 'Diphtheria',\n       'HIV/AIDS', 'GDP', 'Population', 'thinness_1to19_years',\n       'thinness_5to9_years', 'Income_Comp_Of_Resources', 'Schooling'],\n\"values\":[[c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":190,"y":160,"wires":[["f7be4a32.6054b8"]]},{"id":"6801e89b.8a42d8","type":"http request","z":"9e030a28.1fad68","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":470,"y":80,"wires":[["9292ee32.c0739"]]},{"id":"7d87190e.ab3ec8","type":"ui_text","z":"9e030a28.1fad68","group":"a1f27f5d.e263b","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":400,"wires":[]},{"id":"a1f27f5d.e263b","type":"ui_group","z":"9e030a28.1fad68","name":"Machine Learning Model","tab":"ddda711b.5bbec","order":1,"disp":true,"width":"6","collapse":false},{"id":"ddda711b.5bbec","type":"ui_tab","z":"9e030a28.1fad68","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]